/* Root Variables */
:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --light-blue: rgb(25, 146, 212);
  --light-gray: rgb(224, 224, 224);
}

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

/* SVG Inversion */
#svg-negate {
  filter: invert(100%);
}

/* Body Layout */
body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

/* Header Styles */
header {
  grid-column: 2 / -1;
  grid-row: 1 / 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding: 10px;
}

header .top {
  display: flex;
  align-items: center;
  padding: 10px;
}

#search-icon {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

#search-bar {
  width: 40%;
  height: 50%;
  margin: 0 auto 0 10px;
  border-radius: 10px;
  padding: 0 20px;
  background-color: lightgray;
}

.notifications {
  display: flex;
  align-items: center;
  gap: 15px;
}

#profile-icon {
  width: 60px;
  height: 60px;
}

header .profile-button {
  background-color: white;
  color: black;
  font-weight: 600;
  font-size: 1em;
  margin: 0 40px 0 0;
}

header .bottom {
  display: flex;
  align-items: center;
  width: 100%;
}

header .bottom-left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 0;
}

#bigger-profile {
  width: 80px;
  height: 80px;
  margin: 5px;
}

.username {
  font-size: 1.5em;
}

header .buttons {
  display: flex;
  align-items: center;
  margin: 15px 30px;
  gap: 20px;
}

button {
  font-size: 1em;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: var(--light-blue);
  color: white;
  width: 85px;
  height: auto;
}

/* Sidebar Styles */
.sidebar {
  grid-column: 1 / 1;
  grid-row: 1 / -1;
  background-color: var(--light-blue);
  padding: 15px;
  display: grid;
  align-items: center;
  gap: 10px;
  grid-template-columns: 50px 150px;
  grid-template-rows: repeat(12, 30px);
}

.dash-label,
#side-buttons {
  background-color: var(--light-blue);
  color: white;
}

.dash-icon {
  width: 45px;
  height: 45px;
}

.medium-icon {
  height: 25px;
  width: 25px;
  margin-left: 10px;
}

.empty-div {
  background-color: var(--light-blue);
  color: var(--light-blue);
}

/* Main Content Styles */
.content {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  background-color: var(--light-gray);
  box-shadow: inset 0 10px 10px -10px rgb(66, 66, 66);
  padding: 30px;
  gap: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.container-header {
  font-size: 1.8vw;
  font-weight: 650;
}

/* Container Main Styles */
.container-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  grid-column: 1 / 1;
  grid-row: 1 / -1;
}

.module-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: autofit repeat(3, 1fr);
  gap: 20px;
}

.module {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgb(255, 255, 255);
  border-left: 10px solid rgb(240, 180, 41);
  border-radius: 10px;
  padding: 20px;
}

.module-header {
  font-size: 1.5vw;
}

.module-text {
  font-size: 1.5vw;
  color: rgb(147, 147, 147);
}

.module-buttons {
  display: flex;
  justify-content: right;
  margin: 5px;
}

#module-button {
  background-color: white;
  width: 40px;
  height: 40px;
}

/* Container Announcements Styles */
.container-announcements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.module-announcements {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.one,
.two,
.three {
  margin: 0 10px;
}

.announcements-header {
  font-size: 1.1vw;
  font-weight: 600;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 33%;
  padding: 10px;
}

.announcements-text {
  font-size: 0.8vw;
  color: rgb(142, 142, 142);
}

.horizontal-line {
  border-top: inset 1px rgb(255, 255, 255);
  width: 90%;
  height: 1px;
  margin: 5px 0;
}

/* Container Trending Styles */
.container-trending {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
}

.module-trending {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(1fr, 4);
  justify-content: space-between;
  gap: 20px;
  background-color: white;
  padding: 10px;
}

#avatar-png {
  width: 4vw;
  height: 4vw;
  margin-right: auto;
}

.username-trending {
  font-size: 1.5vw;
}

.trending-text {
  font-size: 1.3vw;
}
